body, header, main, footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

/* header */
.container-header {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    padding: 3px;
    padding-left: 7em;
    padding-right: 7em;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 24px;
}

.header-left h3 {
    transition-duration: 0.2s;
    cursor: pointer;
}

.header-left h3:hover {
    color: #3882F6;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 350px;
}

.header-right a {
    background-color: transparent;
    transition-duration: 0.2s;
    cursor: pointer;
    padding: 15px;
    border-radius: 28px;
}
  
.header-right a:hover {
    background-color: #3882F6;
    color: white;
}

/* Remove underline in hyperlinks */
a {
    color: lightgrey;
    text-decoration: none;
}

header {
    background-color: #1F2937;
}

body {
    min-height: 100vh;
}

main {
    flex: 1;
}

img {
    border-radius: 200px;
    margin: 10px;
}

/* Who we are */
.about-section-1 {
    padding-left: 7em;
    padding-right: 7em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.about-section-1 h1{
    color: #3882F6;
    background-color: white;
    font-size: xx-large;
    font-weight: bolder;
}

/* Guided by the wind */
.about-section-2 {
    color: 1F2937;
    background-color: #E5E7EB;
    padding-left: 7em;
    padding-right: 7em;
    padding-top: 2em;
    padding-bottom: 4em;
}

/* Our team */
.about-section-3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

#section-3-header {
    display: flex;
    justify-content: center;
    color: #3882F6;
    font-size: 3em; 
    font-weight: bolder;
}

#img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

 .textAndImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    font-weight: lighter;
} 

footer {
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: lightgrey;
    padding: 1em;
    font-size: small;
    margin-top: auto;
}