body, header, main, footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
    margin: 0;
}

.container-header {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
}

.header-left {
    flex-basis: 150px;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 350px;
}

.section-1 {
    color: white;
    background-color: #1F2937;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.container-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;    
}

.button {
    color: white;
    background-color: #3882F6;
    font-weight: bold;
    border: none;
    text-decoration: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 12px;
    flex-basis: 120px;
}

* {
    border: 1px dotted blue;
}